:root {
  /* COLORS */
  --clr-dark-gray: #4E5150;
  --clr-light-gray: #A9A9A9;
  --clr-background-details : #E5E5E5;
  --clr-background-body: #FFFFFF;

  /* FONT FAMILY */
  --ff-primary: 'Montserrat', sans-serif;

  /* FONT SIZES */
  --font-size-h1: clamp(1.4rem, calc(1.4rem + ((1vw - 0.32rem) * 0.956)), 2.4rem);
  --font-size-text: clamp(1rem, calc(1rem + ((1vw - 0.32rem) * 0.3824)), 1.4rem);
  --font-size-details-number: clamp(1.2rem, calc(1.2rem + ((1vw - 0.32rem) * 0.5736)), 1.8rem);
  --font-size-details-text: clamp(1.2rem, calc(1.2rem + ((1vw - 0.32rem) * 0.1912)), 1.4rem);

  /* lINE HEIGHTS */
  --line-height-h1: clamp(1.7rem, calc(1.7rem + ((1vw - 0.32rem) * 1.1472)), 2.9rem);
  --line-height-text: clamp(1.2rem, calc(1.2rem + ((1vw - 0.32rem) * 0.478)), 1.7rem);
  --line-height-details-number: clamp(1.5rem, calc(1.5rem + ((1vw - 0.32rem) * 0.6692)), 2.2rem);
  --line-height-details-text: clamp(1.5rem, calc(1.5rem + ((1vw - 0.32rem) * 0.1912)), 1.7rem);

  /* FONT WEIGHTS */
  --font-weight-bold: 500;
  --font-weight-bolder: 600;

  /* PADDINGS */
  --section-inline-padding: clamp(1.2rem, calc(1.2rem + ((1vw - 0.32rem) * 1.1472)), 2.4rem);
  --section-block-padding: clamp(3rem, calc(3rem + ((1vw - 0.32rem) * 2.8681)), 6rem);

  --grid-gap: clamp(1rem, calc(1rem + ((1vw - 0.32rem) * 1.912)), 3rem);
}
/*Box sizing rules*/
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
html {
  font-size: 62.5%;
}
/* General styles */
body {
  max-width: 1440px;
  margin: auto;
  font-size: 1.6rem;
  font-family: var(--ff-primary);
  background-color: var(--clr-background-body);
}
picture {
  display: block;
}
img {
  display: block;
  width: 100%;
  object-fit: cover;
}
ul {
  list-style: none;
}

.section-gallery {
  padding: var(--section-block-padding) var(--section-inline-padding);
}

/*********************** 
  PROFILE 
***********************/
.profile__photo {
  width: 100px;
  margin: auto;
}
.profile__photo img {
  border-radius: 16px;
}
.profile__name {
  font-size: var(--font-size-h1);
  font-weight: var(--font-weight-bolder);
  color: var(--clr-dark-gray);
  line-height: var(--line-height-h1);
  text-align: center;
  margin: 1rem 0;
}
.profile__city {
  font-size: var(--font-size-text);
  font-weight: var(--font-weight-bolder);
  line-height: var(--line-height-text);
  color: var(--clr-light-gray);
  text-align: center;
}
.profile__details {
  display: flex;
  justify-content: center;
  margin: 1.5rem 0;
}
.profile__details li {
  margin: .6rem;
  padding: 1em 1.5em;
  background-color: var(--clr-background-details);
  border-radius: 12px;
  font-size: var(--font-size-details-text);
  font-weight: var(--font-weight-bolder);
  line-height: var(--line-height-details-text);
  text-align: center;
  text-transform: capitalize;
  color: var(--clr-light-gray);
}
.profile__details li span {
  display: block;
  font-size: var(--font-size-details-number);
  line-height: var(--line-height-details-number);
  color: var(--clr-dark-gray);
}

/*****************************
  GALLERY
*****************************/
.grid-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: 
  'item1 item2 item2'
  'item3 item3 item4'
  'item5 item6 item4';
  gap: var(--grid-gap);
}
.grid-gallery .item-1 {
  grid-area: item1;
}
.grid-gallery .item-2 {
  grid-area: item2;
}
.grid-gallery .item-3 {
  grid-area: item3;
}
.grid-gallery .item-4 {
  grid-area: item4;
}
.grid-gallery .item-5 {
  grid-area: item5;
}
.grid-gallery .item-6 {
  grid-area: item6;
}
.grid-gallery img {
  border-radius: 12px;
  box-shadow: 0px 4px 6px 0px #00000026;
}
/*****************************
  FOOTER
*****************************/
.footer {
  text-align: center;
  padding: 2em;
}
.footer__attribution {
  font-size: var(--font-size-text);
  font-weight: var(--font-weight-bold);
  color: var(--clr-dark-gray);
}

@media screen and (min-width: 767px) {
  .profile__photo {
    width: 156px;
  }
}